/* Container for sidebar */
.SideBarContainer {
    max-width: 60vw;
    background: #1F1F1F;
    height: 90vh;
    display: flex;
    padding: 1vw;
    flex-direction: column;
    justify-content: space-evenly;
}
