#PlayListContainer {
  width: 30vw;
  background: #1F1F1F;
  margin: 30px;
  height: 70vh;
  /* padding: 1vw; */
  border-style: solid;
  border-width: 2px;
  border-color: #4D34A8;
  overflow: auto;

}
