#main {
  font-family: "Garamond", Times, serif;
  font-size: 30px;
}

#left {
  float:left;
  font-size: 20px;
  color: #4D34A8;
  display: inline-block;

  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 4px;
  margin-top: 4px;
}

#right {
  margin-right: 10px;
  float: right;
  font-size: 20px;
  color: #4D34A8;
}

.navButton {
  width: 150px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.topnav {
  overflow: hidden;
  background-color: #282828;
  border: 1.5px solid #4D34A8;
}

.topnav a {
  float: left;
  color: #4D34A8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #4D34A8;
}

.topnav a:hover {
  background-color: #4D34A8;
  color: white;
}

.topnav a.active {
  background-color: #4D34A8;
  color: black;
}
