/* Container for sidebar */
.SideBarContainer {
    width: 20vw;
    background: rgba(0,0,255,0.2);
    height: 89.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;

}

/* Container for user description */
/* H2 headings of side bar descriptions */
.SideBarDescription h2{
    font-size: 17px;
    margin-top: 3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    /* font-family: Verdana, sans-serif; */
}

/* profile picture styl;es */
.profileImg img{
    width: 17vw;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, .9);
}
