.TrackContainer {
  width: 29vw;
  margin: 5px;
  height: 8vh;
  border-style: solid;
  border-width: 2px;
  background: rgba(0,0,255,0.1);
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.TrackContainer:hover {
  background-color: green;
}

.customTrackContainer {
  width: 29vw;
  margin: 5px;
  height: 8vh;
  border-style: solid;
  border-width: 2px;
  background: rgba(115, 101, 152, 0.1);
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


.customTrackContainer:hover {
  background-color: red;
}



.title_recommended {
  margin-left: 5px;
  margin-top: 5px;
}

.title_playlist {

}

#songName {
  margin-left: 10px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color:white;
  break-after: always;
}

#artist_album {
  margin-left: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color:#C0C0C0;
}
